<div class="new_student_record">
  <div class="student_modal">    
    <div style="position: relative;">
      <%= link_to "x", teacher_home_path, class: "new_student_record_close_btn" %>
    </div>

    <h1 class="heading">Add New Student</h1>

    <%= form_with model: @student, url: students_path, method: :post, class: "new_student_form" do |f| %>

      <div class= "field_wrap">
        <%= f.label :name, "Name", class:"label_tag_div" %>
        <%= f.text_field :name, required: true, class:"input_field" %>
      </div>

      <div class= "field_wrap">
        <%= label_tag :subject, "Subject", class:"label_tag_div" %>
        <%= text_field_tag :subject, '', required: true, class:"input_field" %>
      </div>

      <div class= "field_wrap">
        <%= label_tag :marks, "Marks", class:"label_tag_div" %>
        <%= number_field_tag :marks, '',min: 0, max:100 ,required: true, class:"input_field" %>
      </div>

      <div style="text-align: center;">
        <%= f.submit "Add", class: "form_submit_btn" %>
      </div>

    <% end %>
  </div>
</div>
