<div id="new-session-page">
  <h1 style="text-align: center; font-family: Arial, sans-serif; color: #333;">Reset Password Page</h1>
  <div class="session_create_page">
    <div class="session_create_wrap">
      <%= form_tag verify_email_path, method: :get, class: "login_form", data: {turbo_stream: true} do %>

        <div class="field_wrap">
          <%= label_tag :email, "Email", style: "font-weight: bold;" %>
          <%= text_field_tag :email, nil, required: true, class: "input_field" %>
        </div>

        <div id="email-exist-error"></div>
        <div style="text-align: center;">
          <%= submit_tag "verify", class: "submit_form" %>
        </div>

      <% end %>

      <div class="signup_wrap">
        <%= link_to "Sign Up", signup_path, class: "signup_btn" %>
      </div>
    </div>
  </div>
</div
