<div id="new-session-page" class="">
  <h1 style="text-align: center; font-family: Arial, sans-serif; color: #333;">Reset Password Page</h1>
  <div class="session_create_page sign_up_page">
    <div class="session_create_wrap">
      <%= form_with model: @teacher, url: reset_password_path, method: :post, class: "signup_form" do |f| %>
        <%= hidden_field_tag :teacher_id, @teacher.id %>
        <div class="field_wrap">
          <%= f.label :password, "New Password", style: "font-weight: bold;" %>
          <%= f.password_field :password, required: true, class:"input_field" %>
        </div>

        <div class="field_wrap">
          <%= f.label :password_confirmation, "Confirm New Password", style: "font-weight: bold;" %>
          <%= f.password_field :password_confirmation, required: true, class:"input_field" %>
        </div>
        <div id="password-match-error"></div>

        <div style="text-align: center;">
          <%= f.submit "Change Password", class:"submit_btn" %>
        </div>
        <div class="login_btn_wrap">
          <%= link_to "Login", root_path, class: "login_btn" %>
        </div>

      <% end %>
    </div>
  </div>
</div
