<h1 style="text-align: center; font-family: Arial, sans-serif; color: #333;">Sign Up</h1>

<div class="sign_up_page">
  <div class="signup_wrap">
    <%= form_with model: @teacher, url: teachers_path, method: :post, class: "signup_form" do |f| %>

      <div class="field_wrap">
        <%= f.label :name, "Name", style: "font-weight: bold;" %>
        <%= f.text_field :name, required: true, class:"input_field" %>
      </div>

      <div class="field_wrap">
        <%= f.label :email, "Email", style: "font-weight: bold;" %>
        <%= f.email_field :email, required: true, class:"input_field" %>
      </div>

      <div class="field_wrap">
        <%= f.label :password, "Password", style: "font-weight: bold;" %>
        <%= f.password_field :password, required: true, class:"input_field" %>
      </div>

      <div class="field_wrap">
        <%= f.label :password_confirmation, "Confirm Password", style: "font-weight: bold;" %>
        <%= f.password_field :password_confirmation, required: true, class:"input_field" %>
      </div>
      <div id="teacher-create-error"></div>

      <div style="text-align: center;">
        <%= f.submit "Sign Up", class:"submit_btn" %>
      </div>
      <div class="login_btn_wrap">
        <%= link_to "Login", root_path, class: "login_btn" %>
      </div>

    <% end %>
  </div>
</div>
